.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    margin: 0 auto;    
}

body{
    background-image: url(../img/japan1.jpg)
}

.input-field label {
    color: rgb(44, 29, 182);
}

.input-field input[type=text]:focus + label {
    color: rgb(0, 0, 0);
} 

button{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.row{
    grid-column: span 3;
    margin: 0 auto;
}

@media only screen and (max-device-width:900px){
        
        
    }
    